.text{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
align-items: center;
}
.margin{
    margin-top: 230px;
}
.pic{
 gap: 28px;
}
.flex{
    display: flex;
}
.img{
    position: absolute;
width: 1000px;
height: 1000px;
left: 1236px;
top: 94px;
}